.svg{
    background-image: url('../src/Components/Asserts/bg-desktop.svg');
    background-size: cover;
    height: 760px;
}
@media screen and (max-width:768px){
       .svg{
           background-image: url('./Components/Asserts/bg-mobile.svg');
           background-size: contain;
           background-repeat: no-repeat;
           height: 500px; 
           width: 100%;     
        }

}